.chevron_down{
    height: 10px;
    margin: 0 5px;
}

form img{
    height: 23px;
    margin-top: 11px
}

.btn_grey{
    color: white;
    background-color: #363636;
    border-radius: 20px;
    margin-right: 15px;
}