
/*----------------
     COLORS
------------------*/
.bg_header{
    background-color: black;
}
/*----------------
     BUTTONS
------------------*/
.btn_{
    border-radius: 20px;
    margin-right: 15px; 
}

.btn_grey{
    color: white;
    background-color: #363636;   
}

.btn_orange{
    color: white;
    background-color: #cd3d0f;
}

.btn_blue{
    color: white;
    background-color: #2d64e6;
}
/*----------------
    HEADER
------------------*/
header{
    width: 100%;
    position: fixed;
    z-index: 5;
}

.sony_logo{
    width: 100%;
    line-height: 40px;
}

.sony_logo img{
    height: 18px;
}

nav{
    background-color: white;
}

.chevron_down{
    height: 10px;
    margin: 0 5px;
}

form img{
    height: 23px;
    margin-top: 11px
}

/*----------------
    MAIN
------------------*/
/*hero*/
.hero{
    width: 100%;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-size: 20px;
}

.hero img{
    width: 60%;
}

.hero .row{
    padding-top: 300px;
    padding-bottom: 100px;
} 

.hero_bottom img{
    width: 100%;
    border-radius: 18px;
}

.img_active{
    border: 3px solid #2d64e6;
    border-radius: 20px;
    padding: 2px;
}

/*hardware*/
.hardware .row img{
    width: 100%;
}

.hardware .figure-img{
    opacity: 0.7;
    transition: opacity cursor 0s;
}

/*----------------
    FOOTER
------------------*/

/*----------------
    EFFECTS
------------------*/ 
/* effetti sezione hero */
.hero_bottom [class*="col"]{
    transition: all 1s;
} 

.hero_bottom [class*="col"]:hover{
    transform: translateY(-15px);
}

/* effetti sezione hardware */
.hardware .figure-img:hover{
    opacity: 1;
    cursor:pointer
}